/* Admin Login Page CSS */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('lerayBG.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.login-container {
  max-width: 450px;
  width: 600px;
  background-color: white;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 600px;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form input, form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  font-size: 14px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #007cc1;
}

a {
  text-decoration: none;
  color: #0095f6;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  font-size: 14px;
}

.signup-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.signup-link a {
  color: #0095f6;
}

.signup-link a:hover {
  text-decoration: underline;
}
