/* Main Background */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('lerayBG.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* Image Container for the side images */
.image-container {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

/* Style for the side images */
.side-image-left, .side-image-right {
  width: 310px;
  height: auto;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.side-image-left:hover, .side-image-right:hover {
  transform: scale(1.1);
}

/* Signup Form Styling */
.signup-container {
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: 2;
}

.signup-box {
  background: #fff;
  border: 1px solid #dbdbdb;
  padding: 40px 40px;
  text-align: center;
  border-radius: 15px;
  width: 500px;
  height: 600px;
}

.logo {
  width: 200px;
  margin-bottom: 25px;
}

h2 {
  font-size: 20px;
  color: #8e8e8e;
  margin-bottom: 30px; /* Adjusted spacing */
}

form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0; /* Increased margin between inputs */
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 14px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 4px; /* Adjusted spacing for button */
  font-size: 15px;
}

form button:hover {
  background-color: #0077cc;
}

/* Login Link Styling */
.login-link {
  margin-top: 15px; /* Adjusted margin */
}

.login-link p {
  font-size: 14px;
  color: #8e8e8e;
}

.login-link a {
  text-decoration: none;
  color: #0095f6;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
